@import "tailwindcss";

:root {
  --background: #f6f1ea;
  --foreground: #2b211c;
  --accent-brown: #8b5e3c;
  --soft-beige: #6f5d52;
  --border-soft: #dccfc2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/ArchivoBlack-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.font-archivo {
  font-family: "Archivo", sans-serif;
}

.font-orlan-3d {
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  font-weight: 900;

  /* COLOR */
  color: #bfa05d;

  /* CURVA SUAVE (CLAVE) */
  display: inline-block;
  transform: perspective(1200px) rotateX(12deg) scaleY(1.03);
  transform-origin: center bottom;

  /* 3D MÁS CONTROLADO (no tan exagerado para que no se rompa la curva) */
  text-shadow:
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000,
    4px 4px 0 #000,
    5px 5px 0 #000,
    6px 6px 0 #000,
    7px 7px 0 #000;

  letter-spacing: 0.08em;
}



body {
  min-height: 100vh;
  background-color: #f6f1ea;
  background-image:
    radial-gradient(
      circle at top left,
      rgba(139, 94, 60, 0.08),
      transparent 20%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(43, 33, 28, 0.04),
      transparent 18%
    );
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
